@model SPProviderHostedAddInWeb.Models.SPModel

@{
    ViewBag.Title = "CSOM Cliked View";
}


<div class="jumbotron">
    <h2>Welcome @ViewBag.UserName!</h2>
    <p class="lead"><b>SharePoint Add-ins - </b>Embracing web standards, the new cloud add-in model gives you maximum choice and flexibility to build a new class of SharePoint Add-ins using familiar languages, tools, and hosting services.</p>
    <p><a href="http://dev.office.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>SharePoint introduces a Cloud Add-in Model that enables you to create add-ins. Learn what SharePoint Add-ins are, why you should build them, and the concepts that are fundamental to building them for SharePoint.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=294439">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Samples</h2>
        <p>Download SharePoint Add-ins code samples. New samples are added frequently in JavaScript, C#, and VB.NET.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=294440">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developer training</h2>
        <p>Learn about SharePoint Add-ins with this interactive course offering developer-focused how to training and walkthrough videos.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=294441">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>My SharePoint Provider Hosted Add In</h2>
    </div>
</div>
<div class="row">
    <table border="1" cellpadding="10">
        <tr>
            <th>
                @Html.ActionLink("Populate Data", "CSOM_Click")
            </th>
        </tr>
        <tr>
            <td>

                <h2>SharePoint Site</h2>
                <Label ID="WebTitleLabel">@Model.SiteName</Label>

                <h2>Current User:</h2>
                <Label ID="CurrentUserLabel">@Model.CurrentUser</Label>

                <h2>Site Users</h2>
                <ul ID="UserList">
                    @if (Model != null && Model.ListOfUsers != null && Model.ListOfUsers.Count > 0)
                    {
                        foreach (var user in Model.ListOfUsers)
                        {
                            <li>@user</li>
                        }
                    }
                </ul>

                <h2>Site Lists</h2>
                <ul ID="ListList">
                    @if (Model != null && Model.ListOfUsers != null && Model.ListOfUsers.Count > 0)
                    {
                        foreach (var list in Model.ListOfLists)
                        {
                            <li>@list</li>
                        }
                    }
                </ul>
            </td>
        </tr>
    </table>

</div>